<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aqua Mate : Dictionary</title>
	<link rel="stylesheet" href="/css/dictionary.css">
	<link rel="stylesheet" href="/css/helpBot.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/js/dictionary.js"></script>
	<script src="/js/helpBot.js"></script>
</head>

<body>

	<header>
		<div style="flex: 1;">
			<a href="/" style="display: inline-block; margin-left: 20px;">
				<img src="/images/logo.png" width="200px">
			</a>
		</div>
		<div id="head" style="display: flex; justify-content: center;">
			<a href="/dictionary">
				<button id="btn_dic"><img src="/images/book.png"></button>
				<h1>Dictionary</h1>
			</a>
		</div>
		<div style="flex: 1; display: flex; flex-direction: column; align-items: flex-end; gap: 15px; margin-right: 20px; margin-top: 10px;">
			<div style="display: flex; gap: 15px; margin-right: 15px;">
				<th:block th:if="${session.userId == null}">
					<a href="/login" style="color: white; text-decoration: none; font-weight: bold; cursor: pointer;">로그인</a>
					<a href="/signUp" style="color: white; text-decoration: none; font-weight: bold; cursor: pointer;">회원가입</a>
				</th:block>
				<th:block th:if="${session.userId != null}">
					<a href="/logout" style="color: white; text-decoration: none; font-weight: bold; cursor: pointer;">로그아웃</a>
				</th:block>
			</div>
			<nav>
				<div id="dic">
					<a href="/dictionary">
						<button id="btn_dic"><img src="/images/book.png"></button>
						<h3>Dictionary</h3>
					</a>
				</div>
				<div id="match">
					<a href="/match">
						<button id="btn_match"><img src="/images/heart.png"></button>
						<h3>Match</h3>
					</a>
				</div>
				<div id="about">
					<a href="/about">
						<button id="btn_about"><img src="/images/bookmark.png"></button>
						<h3>About</h3>
					</a>
				</div>
				<div id="mypage_nav">
					<a href="/myPage">
						<button id="btn_mypage_nav"><img src="/images/user.png"></button>
						<h3>My Page</h3>
					</a>
				</div>
			</nav>
		</div>
	</header>
	<main>
		<div id="gradient_top">
		</div>
		<section>
			<div id="search">
				<input type="text" id="tb_search">
				<button id="btn_search">Search</button>
			</div>
			<div id="item_container"></div>
		</section>
		<div id="gradient_bottom">
		</div>
		<div id="helpBtn"></div>
		<div id="helpModal">
			<div id="helpHeader"> 
				Help Center
				<span class="cancelBtn">×</span>
			</div>

			<div id="helpScreen"></div>
			<div id="helpFooter">
				<input type="text" class="tb">
				<input type="button" class="sendBtn">
			</div>
		</div>
	</main>
	<footer>
		<div id="contact">
			<span id="contact_label">Contact</span>
			<span class="label"><img src="/images/github.png" id="img_github"><a
					href="https://github.com/WaltDev29">WaltDev29</a></span>
			<span class="label"><img src="/images/email.png" id="img_email">waltdev29@gmail.com</span>
		</div>
		<div id="source">
			<span id="source_label">source</span>
			<span class="label"><a
					href="https://ko.wikipedia.org/wiki/%EC%9C%84%ED%82%A4%EB%B0%B1%EA%B3%BC:%EB%8C%80%EB%AC%B8">Wikipedia</a></span>
		</div>
	</footer>
</body>

</html>
